@font-face {
  font-family: 'bog-neue';
  src: url('../../assets/font/bog-neue.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

$sans-serif: Helvetica, sans-serif;
$serif: Georgia, serif;
$custome-font: 'bog-neue';