@use './fonts';

html {
  font-size: 62.5%;
  font-family: '$sans-serif', sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: '$sans-serif', sans-serif;
}

p,
li {
  font-size: 1.8rem;
}

h1 {
  font-family: fonts.$custome-font, sans-serif;
  font-size: 4.8rem;
}

h2,
p.large {
  font-size: 3.6rem;
}

h2.light {
  font-weight: 300;
}

h3,
p.medium {
  font-size: 2.4rem;
}
