@use '../abstracts/colors';
@use '../core/screens';

#about-wrapper {
  margin-top: 6rem;
  #about-content {
    display: flex;
    flex-direction: column;
    #about-intro {
      display: flex;
      flex-direction: column;
      background-color: colors.$primary-white;
      padding: 6rem;
      gap: 3rem;
      h2 {
        margin-bottom: 1rem;
      }
      p {
        width: 80%;
      }
      .about-card {
        display: flex;
        flex-direction: row;
        gap: 3rem;
        width: 100%;
        img {
          flex: 1;
          width: 25%;
          height: 100%;
          border: 0.2rem solid black;
        }
        p {
          padding-top: 2rem;
        }
        hr {
          width: 50%;
        }
      }
      #special-thanks p {
        span {
          font-weight: bold;
        }
      }
    }
    #about-ending {
      display: flex;
      flex-direction: row;
      gap: 24rem;
      width: 100%;
      background-color: colors.$primary-green;
      padding: 6rem;
      p a {
        font-weight: bold;
      }
      img {
        flex: 1;
        width: 30%;
        height: 100%;
        border: 0.2rem solid black;
      }
    }
  }
}

@media screen and (max-width: screens.$screen-sm-min) {
  #about-wrapper {
    #about-content {
      #about-intro {
        flex-direction: column;
        padding: 3rem;
        gap: 2rem;
        .about-card {
          flex-direction: column;
          gap: 2rem;
          p {
            width: 100%;
          }
          img {
            width: 100%;
          }
        }
        #special-thanks p {
          width: 100%;
          span {
            font-weight: bold;
          }
        }
      }
      #about-ending {
        flex-direction: column-reverse;
        padding: 3rem;
        gap: 2rem;
        img {
          width: 100%;
        }
      }
    }
  }
}
