@use '../abstracts/colors';
@use '../core/screens';

#resources-wrapper {
  margin-top: 6rem;
  #resources-content {
    display: flex;
    flex-direction: column;
    // #resources-intro {
    //   background-color: colors.$primary-green;
    //   padding: 6rem;
    //   h2 {
    //     margin-bottom: 1rem;
    //   }
    //   p {
    //     width: 80%;
    //   }
    // }
    #resources-body {
      background-color: colors.$primary-white;
      padding: 6rem;
      .resource-section {
        display: flex;
        flex-direction: column;
        margin-bottom: 6rem;
        h2 {
          margin-bottom: 1rem;
        }
        hr {
          width: 100%;
          margin-bottom: 3rem;
        }
      }
      .resource-section:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media screen and (max-width: screens.$screen-sm-min) {
  #resources-wrapper {
    margin-top: 5rem;
    #resources-content {
      #resources-intro {
        padding: 3rem;
        p {
          width: 100%;
        }
      }
      #resources-body {
        padding: 3rem;
        .resource-section {
          margin-bottom: 3rem;
          h2 {
            font-size: 2.8rem;
            margin-bottom: 0;
          }
          hr {
            width: 100%;
            margin: 1rem 0 1.8rem 0;
          }
        }
      }
    }
  }
}
