// Base
$base-white: #ffffff;
$base-black: #000000;

// Primary
$primary-green: #1C7C54;
$primary-pink: #CAA8F5;
$primary-white: #D9D9D9;

// Secondary
$secondary-blue: #22577A;
$secondary-yellow: #FFBF00;
$secondary-orange: #F17300;
$secondary-brown: #512D38;
$secondary-red: #F34213;