// Base
$base-white: #ffffff;
$base-black: #000000;

// Primary
$primary-green: #1c7c54;
$primary-pink: #caa8f5;
$primary-white: #d9d9d9;
$primary-gray: #565656;

// Secondary
$secondary-blue: #22577a;
$secondary-yellow: #ffbf00;
$secondary-orange: #f17300;
$secondary-brown: #512d38;
$secondary-red: #f34213;
